#chart {
  margin-left: -40px;
  height: 506px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #ddd;
  /*stroke-width:4px;
  -moz-transition: opacity 0.218s ease 0s;*/
}

.axis path, .axis line {
  fill: none;
  stroke: #C0C0C0;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font:86px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  /*cursor: ew-resize;*/
}
.text {
	stroke: #000 !important;
	font-size:12px;
}
.dot.in circle {
	stroke: #268bd2;
}
line.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width:1;
}